In [16]:
import pandas as pd

In [17]:
cleaned_data_df = pd.read_csv('data/cleaned_data.csv')
cleaned_data_df

,Unnamed: 0,gender,name,movieId,title,genres,genres_vectorized,genres_list,year,budget,runtime,rating
0,0,2.0,Tom Hanks,1.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,[1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0,30000000,81,3.92093
1,1,2.0,Tim Allen,1.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,[1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0,30000000,81,3.92093
2,2,2.0,Don Rickles,1.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,[1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0,30000000,81,3.92093
3,3,2.0,Jim Varney,1.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,[1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0,30000000,81,3.92093
4,4,2.0,Wallace Shawn,1.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,[1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0,30000000,81,3.92093
...,...,...,...,...,...,...,...,...,...,...,...,...
265718,265922,0.0,Alex Thaler,193609.0,Andrew Dice Clay: Dice Rules,Comedy,[0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,['Comedy'],1991.0,0,85,4.00000
265719,265923,1.0,Sharon Bialy,193609.0,Andrew Dice Clay: Dice Rules,Comedy,[0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,['Comedy'],1991.0,0,85,4.00000
265720,265924,1.0,Debi Manwiller,193609.0,Andrew Dice Clay: Dice Rules,Comedy,[0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,['Comedy'],1991.0,0,85,4.00000
265721,265925,1.0,Mary Margiotta,193609.0,Andrew Dice Clay: Dice Rules,Comedy,[0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,['Comedy'],1991.0,0,85,4.00000
265722,265926,2.0,Richard Pagano,193609.0,Andrew Dice Clay: Dice Rules,Comedy,[0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,['Comedy'],1991.0,0,85,4.00000

In [18]:
cleaned_data_top_3_df = cleaned_data_df.groupby('movieId').head(3).reset_index(drop=True)

In [19]:
cleaned_data_top_3_df

,Unnamed: 0,gender,name,movieId,title,genres,genres_vectorized,genres_list,year,budget,runtime,rating
0,0,2.0,Tom Hanks,1.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,[1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0,30000000,81,3.920930
1,1,2.0,Tim Allen,1.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,[1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0,30000000,81,3.920930
2,2,2.0,Don Rickles,1.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,[1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0,30000000,81,3.920930
3,41,2.0,Robin Williams,2.0,Jumanji,Adventure|Children|Fantasy,[1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Children', 'Fantasy']",1995.0,65000000,104,3.431818
4,42,2.0,Jonathan Hyde,2.0,Jumanji,Adventure|Children|Fantasy,[1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Children', 'Fantasy']",1995.0,65000000,104,3.431818
...,...,...,...,...,...,...,...,...,...,...,...,...
28335,265887,2.0,Mamoru Miyano,193587.0,Bungo Stray Dogs: Dead Apple,Action|Animation,[0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. ...,"['Action', 'Animation']",2018.0,0,90,3.500000
28336,265888,2.0,Kisho Taniyama,193587.0,Bungo Stray Dogs: Dead Apple,Action|Animation,[0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. ...,"['Action', 'Animation']",2018.0,0,90,3.500000
28337,265903,2.0,Andrew Dice Clay,193609.0,Andrew Dice Clay: Dice Rules,Comedy,[0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,['Comedy'],1991.0,0,85,4.000000
28338,265904,2.0,Eddie Griffin,193609.0,Andrew Dice Clay: Dice Rules,Comedy,[0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,['Comedy'],1991.0,0,85,4.000000
28339,265905,0.0,Sylvia Harman,193609.0,Andrew Dice Clay: Dice Rules,Comedy,[0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,['Comedy'],1991.0,0,85,4.000000

In [20]:
# importing the required libraries
import pandas as pd
import numpy as np
# import shap
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost.sklearn import XGBRegressor
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import tree

In [21]:
cleaned_data_top_3_subset_df = cleaned_data_top_3_df[:1000]
cleaned_data_top_3_subset_df

,Unnamed: 0,gender,name,movieId,title,genres,genres_vectorized,genres_list,year,budget,runtime,rating
0,0,2.0,Tom Hanks,1.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,[1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0,30000000,81,3.920930
1,1,2.0,Tim Allen,1.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,[1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0,30000000,81,3.920930
2,2,2.0,Don Rickles,1.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,[1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Animation', 'Children', 'Comedy...",1995.0,30000000,81,3.920930
3,41,2.0,Robin Williams,2.0,Jumanji,Adventure|Children|Fantasy,[1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Children', 'Fantasy']",1995.0,65000000,104,3.431818
4,42,2.0,Jonathan Hyde,2.0,Jumanji,Adventure|Children|Fantasy,[1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Adventure', 'Children', 'Fantasy']",1995.0,65000000,104,3.431818
...,...,...,...,...,...,...,...,...,...,...,...,...
995,9247,2.0,Edward Herrmann,374.0,Richie Rich,Children|Comedy,[0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,"['Children', 'Comedy']",1994.0,40000000,95,2.200000
996,9263,1.0,Meryl Streep,376.0,"River Wild, The",Action|Thriller,[0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. ...,"['Action', 'Thriller']",1994.0,45000000,111,3.250000
997,9264,2.0,David Strathairn,376.0,"River Wild, The",Action|Thriller,[0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. ...,"['Action', 'Thriller']",1994.0,45000000,111,3.250000
998,9265,2.0,Kevin Bacon,376.0,"River Wild, The",Action|Thriller,[0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. ...,"['Action', 'Thriller']",1994.0,45000000,111,3.250000
999,9274,2.0,Keanu Reeves,377.0,Speed,Action|Romance|Thriller,[0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. ...,"['Action', 'Romance', 'Thriller']",1994.0,30000000,116,3.529240

In [22]:
cleaned_data_top_3_subset_df['genres'].str.split('|', expand=True)

             0          1         2       3        4     5
0    Adventure  Animation  Children  Comedy  Fantasy  None
1    Adventure  Animation  Children  Comedy  Fantasy  None
2    Adventure  Animation  Children  Comedy  Fantasy  None
3    Adventure   Children   Fantasy    None     None  None
4    Adventure   Children   Fantasy    None     None  None
..         ...        ...       ...     ...      ...   ...
995   Children     Comedy      None    None     None  None
996     Action   Thriller      None    None     None  None
997     Action   Thriller      None    None     None  None
998     Action   Thriller      None    None     None  None
999     Action    Romance  Thriller    None     None  None

[1000 rows x 6 columns]

In [23]:
cleaned_data_top_3_subset_test_df = cleaned_data_top_3_subset_df.genres
cleaned_data_top_3_subset_test_df

0      Adventure|Animation|Children|Comedy|Fantasy
1      Adventure|Animation|Children|Comedy|Fantasy
2      Adventure|Animation|Children|Comedy|Fantasy
3                       Adventure|Children|Fantasy
4                       Adventure|Children|Fantasy
                          ...
995                                Children|Comedy
996                                Action|Thriller
997                                Action|Thriller
998                                Action|Thriller
999                        Action|Romance|Thriller
Name: genres, Length: 1000, dtype: object

In [24]:
position_by_genere = {'Adventure': 0,
 'Animation': 1,
 'Children': 2,
 'Comedy': 3,
 'Fantasy': 4,
 'Romance': 5,
 'Drama': 6,
 'Action': 7,
 'Crime': 8,
 'Thriller': 9,
 'Horror': 10,
 'Mystery': 11,
 'Sci-Fi': 12,
 'War': 13,
 'Musical': 14,
 'Documentary': 15,
 'IMAX': 16,
 'Western': 17,
 'Film-Noir': 18}

In [25]:
def parse_features(cleaned_data_top_3_subset_df):
    cleaned_data_top_3_subset_df_copy = cleaned_data_top_3_subset_df.copy()
    
    cleaned_data_top_3_subset_df_copy[['Adventure','Animation','Children','Comedy','Fantasy','Romance','Drama','Action','Crime','Thriller','Horror','Mystery','Sci-Fi','War','Musical','Documentary','IMAX','Western','Film-Noir']] = df['genres_vectorized'].str.split(' ', 1, expand=True)

In [26]:
features = ['gender', 'name','movieId', 'title', 'year', 'budget', 'runtime', 'rating']

In [27]:
X = cleaned_data_top_3_subset_df[features]
y = cleaned_data_df['rating']

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [1000, 265723]

In [ ]:
xgb_model = XGBRegressor(n_estimators=1000, max_depth=10, learning_rate=0.001, random_state=0)
xgb_model.fit(X_train, y_train)